/* import library */

@import url(Message.css);
@import url(Model.css);

/*Classes for Orange Css */

.Page_Main {
    background: rgba(21, 235, 103, 0.9);
    color: rgb(152, 152, 152);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.pg {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

.info {
    background-color: rgba(0, 95, 153, 0.9);
    color: #d9edf7;
    border-color: #bcdff1;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.success {
    background-color: #dff0d8;
    color: #3c763d;
    border-color: #d0e9c6;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.alert {
    color: #a94442;
    background: #f2dede;
    border-color: #ebcccc;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    display: block;
}


/*
.danager {

}

.warning{

}

.popupModel{
    
}
*/


/** Model Content  css */

.content-model {
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba( 110, 110, 110, 0.5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1001;
}

.model {
    border: 2px solid black;
    width: 300px;
    height: auto;
    text-align: center;
    min-height: 100px;
    padding-bottom: 5px;
    position: absolute;
    top: 30%;
    left: 40%;
    user-select: none;
    /* Msg font style*/
    background: white;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.model-title {
    width: 99.5%;
    height: 10%;
    border: 1px solid gray;
    font-size: 20px;
    padding: 5px 0px;
    margin-bottom: 5px;
}

.model-off-icon {
    border-radius: 10px;
    float: left;
    line-height: 1.4;
    color: red;
    padding: 0px 4px;
    font-size: 18px;
    pointer-events: visibleFill;
    user-select: none;
    cursor: pointer;
}

.model-off-icon:hover {
    color: white;
    background: red;
}


/** form style css */

.form-tmp {
    border: 4px solid rgb(110, 110, 110);
    position: absolute;
    background-color: white;
    font-family: Roboto, Arial, sans-serif;
    line-height: 21px;
    color: #111111;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    padding: 0px 8px;
}

.form-tmp .brand {
    font-size: 32px;
    padding: 10px;
    user-select: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 95.8%;
    height: 10%;
    background-color: lightgrey;
    color: white;
    margin-bottom: 12px;
}

.form-sm {
    width: 35%;
    left: 30%;
    height: auto;
}

.form-md {}

.form-lg {}

.form-tmp input[type=text] {
    outline: none;
    padding: 8px 4px;
    font-size: 16px;
    border-radius: 3px;
    /*
    display: flex;
    align-items: center;
    justify-content: center;
    */
}

.lg {
    width: 90%;
}

.md {
    width: 60%;
}

.sm {
    width: 35%;
}

.txt-bx-df:focus {
    border: gray solid 2px;
}

.txt-bx-df {
    border: lightgray 2px solid;
    color: rgb(60, 60, 60);
}

.txt-bx-success {
    border: rgb(50, 204, 61) solid 2px;
    color: rgb(25, 200, 31);
}

.txt-bx-success:focus {
    border: 2px solid rgb(47, 162, 57);
}

.txt-bx-navy {
    border: 2px solid rgb(83, 163, 253);
    color: rgb(14, 115, 231);
}

.txt-bx-navy:focus {
    border: 2px solid rgb(19, 94, 179);
}

.txt-bx-danger {
    border: 2px solid rgb(245, 45, 45);
    color: rgb(228, 37, 37);
}

.txt-bx-danger:focus {
    border: 2px solid rgb(218, 47, 47);
}


/**btn style css */

.bn {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: verdana, sans-serif;
    margin-bottom: 5px;
    padding: 10px 25px;
    font-size: 16px;
}

.bn:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.bn-sm {
    padding: 8px 16px;
    font-size: 12px;
}

.bn-md {
    padding: 15px 32px;
    font-size: 18px;
}

.bn-lg {
    padding: 22px 45px;
    font-size: 28px;
}

.bn-vertical {
    padding: 12px 64px;
    font-size: 20px;
}

.bn-navy {
    border: 1px solid rgb(2, 115, 240);
    color: white;
    background-color: rgb(2, 115, 240);
}

.bn-danger {
    border: 1px solid rgb(179, 68, 66);
    color: white;
    background-color: rgb(215, 42, 40);
}

.bn-dark {
    border: 1px solid rgb(128, 128, 128);
    color: white;
    background-color: rgb(130, 130, 130);
}

.bn-success {
    border: 1px solid rgb(38, 171, 23);
    color: white;
    background-color: rgb(51, 178, 36);
}

.bn-gold {
    color: white;
    background: rgb(255, 237, 61);
    border: rgb(255, 230, 70) 1px solid;
}

.bn-pronze {}

.bn-silver {}

.bn-spdark {
    background: rgb(41, 45, 50);
    color: white;
    border: 1px solid rgb(64, 68, 73);
}

.bn-nice {
    background: rgb(68, 177, 172);
    color: white;
    border: 1px solid rgb(78, 196, 190);
}

.bn-warning {
    border: 1px solid;
    color: white;
    background: rgb(243, 196, 125);
}

.bn-default {
    background: white;
    color: rgb(110, 110, 110);
    border: 1px solid rgb(110, 110, 110);
}

.bn:disabled {
    opacity: 0.7;
    box-shadow: none;
}


/***/


/*
.msg{
    padding:10px 20px;
    display: inline-block;
    border:1px solid lightgray;
    border-radius:4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    text-align: center;
}
*/


/*
.msg-danger span{
   
    padding:1px 5px;
    border-radius: 50%;
    
    float: right;
    position:absolute;
    top:10px;
    right:10px;
    
}
*/


/*
.msg-danger ::after {
    content: '\00d7';
    font-size: 22px;
}

.msg-danger span:hover{
  
    color:rgb(202, 55, 55);
    background: white;
}

.msg-danger{
    background-color: rgb(202, 55, 55);
    color:white;
    user-select: none;
}

.msg-navy {
    background-color: rgb(33, 144, 235);
    color:white;
    user-select: none;
}

.msg-success{
    background-color: rgb(22, 187, 58);
    color:white;
    user-select: none;
}

.msg-dark{
    background-color: rgb(110, 110, 110);
    color:white;
    user-select: none;
}

.msg-gold{
    background-color: rgba(255, 204, 36, 0.973);
    color:white;
    user-select: none;
}

.msg-nice{
    background: rgb(68, 177, 172);
    color:white;
    user-select: none;
}
*/


/*table*/


/**text box*/

.o-txt-bx-success {
    border: 1px solid rgb(202, 55, 55);
    position: relative;
    border-radius: 4px;
}

.o-txt-bx-success input[type=text] {
    padding: 15px 32px;
    font-family: Arial;
    outline: none;
    width: 85%;
    font-size: 18px;
    border: none;
}

.o-txt-bx-success::after {
    content: '\00d7';
    color: rgb(215, 42, 40);
    font-size: 25px;
    position: absolute;
    top: 25%;
    right: 2%;
}


/*position vertical*/

#wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}


/*Just horizontal (as long as the main flex axis is horizontal which is default)*/

#wrapper {
    display: flex;
    justify-content: center;
}


/* */