/* tooltip style will be add here */

.o-tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    padding: 5px;
}

.o-tooltip .o-tooltip-text {
    /*visibility: hidden;*/
    opacity: 0;
    border: 1px solid gray;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 4PX;
    position: absolute;
    z-index: 1;
    font-size: 14px;
    transition: opacity 1s;
    -moz-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    min-width: 120px;
    text-align: center;
}


/*    for border nice top  -- Arrow */

.o-tooltip-up::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
}


/*down arrow*/

.o-tooltip-down::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgba(0, 0, 0, 0.7) transparent;
}

.o-tooltip:hover .o-tooltip-text {
    /* visibility: visible;*/
    opacity: 1;
    transition: opacity 2s;
    -moz-transition: opacity 2s;
    -webkit-transition: opacity 2s;
}

.o-tooltip-left {
    top: -5px;
    right: 110%;
    width: 60%;
}

.o-tooltip-left::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent rgba(0, 0, 0, 0.7);
}

.o-tooltip-up {
    bottom: 80%;
    left: 30%;
    width: 60%;
}

.o-tooltip-right {
    left: 110%;
    top: -5px;
    width: 60%;
}

.o-tooltip-right::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;
    /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0, 0.7) transparent transparent;
}

.o-tooltip-down {
    top: 80%;
    left: 30%;
    width: 60%;
}